.main_section_area {
    border-left: 1px solid #8080804a;
    border-right: 1px solid #8080804a;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
}